### Dictionaries

In [9]:
d =  {'key1':'value','key2':123}

To call a value, you call the **key**

In [3]:
d['key1']

'value'

In [10]:
print d['key1']

value

In [23]:
f = {'k1':[1,2,3]}

In [14]:
f['k1']

[1, 2, 3]

In [32]:
f['k1'][2]

3

### Nested Dictionaries

In [34]:
g = {'k1':{'innerkey':[1,2,3]}}

In [39]:
#extract 2

In [36]:
g['k1']

{'innerkey': [1, 2, 3]}

In [37]:
g['k1']['innerkey']

[1, 2, 3]

In [38]:
g['k1']['innerkey'][1]

2

### Boolean

In [40]:
True

True

In [10]:
False

False

In [12]:
True and False

False

In [15]:
False or True

True

In [17]:
(1==1) and (1!=2)

True

In [22]:
if 1>3:
    print ('yes')
elif 3 ==3:
    print ('true') ####only takes the first true statement
else:
    print ('no')

true

### Tuple
*Tuple () cannot mutate and list [] can mutate*

In [3]:
my_list = [1,2,3]

In [4]:
my_list[0]

1

In [5]:
my_list[0]='NEW'

In [6]:
my_list

['NEW', 2, 3]

In [7]:
t = (1,2,3)

In [8]:
t[0]

1

In [9]:
t[0]='NEW'

TypeError: 'tuple' object does not support item assignment

### set
*set {} or set(list) collection of unique elements*

In [33]:
{1,2,2,2,2,3,3,3,4}

{1, 2, 3, 4}

### For Loop

In [32]:
seq = [1,2,3,4,5]
print seq

[1, 2, 3, 4, 5]

In [31]:
for num in seq:
    print('hello')

hello
hello
hello
hello
hello

### While Loop

In [1]:
i = 1

while i<5:
    print ('i is: {}'.format(i))
    i=1+i

i is: 1
i is: 2
i is: 3
i is: 4

### Range

In [2]:
range (0,5)

[0, 1, 2, 3, 4]

In [3]:
print (range (0,5))

[0, 1, 2, 3, 4]

In [8]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### List Comprehension

In [7]:
x = [1,2,3,4]
out = []
for num in x:
    out.append(num**2)
print (out)     ####long form

[1, 4, 9, 16]

In [14]:
y=range(0,10) 
out = [num**2 for num in y]   ##one liner (aka list comprehension)
print (out)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### Function (def)

In [ ]:
def my_func(param1):
    print (param1)
my_func('hello')

In [35]:
def my_func(name):
    print ('Hello ' + name)   #print
my_func('Ogaga')

Hello Ogaga

In [40]:
def square(num):
    """
    This is a docstring
    Can go multiple lines
    """
    return num**2   
    """
    return followed by print
    """
output = square(2)
print output

4

In [41]:
square #shift + tab shows the documentation