### map function

In [17]:
def square(var):
    return var**2
print (square(2))

seq=range(1,5)
print seq
print(list(map(square,seq)))

4
[1, 2, 3, 4]
[1, 4, 9, 16]

### $\lambda$ Expression

In [18]:
#def square(var): return var**2
lambda var:var**2

In [29]:
cube=(list(map(lambda var: var**3,seq)))
print 'seq = ',seq
print 'cube=',cube

seq =  [1, 2, 3, 4]
cube= [1, 8, 27, 64]

### $\lambda$ Filter

In [30]:
list(filter(lambda num: num%2==0, seq))

[2, 4]

In [31]:
###...

In [32]:
s = 'hello my name is sam'

In [33]:
s.upper()

'HELLO MY NAME IS SAM'

In [34]:
s.split()

['hello', 'my', 'name', 'is', 'sam']

In [37]:
tweet = 'Go Sports! #Sports'

In [38]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [39]:
#very useful for analysing hashtag

In [40]:
tweet.split('#')[1]

'Sports'

### in

In [42]:
'x' in [1,2,3]

False

In [43]:
'x' in ['x','y','z']

True

In [50]:
### tupple unparking

In [51]:
x = [(1,2),(3,4),(5,6)]

In [53]:
for a,b in x:
    print (a)
    print (b)

1
2
3
4
5
6