In [33]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})

In [5]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Finding unque value in dataframe

In [18]:
df['col2'].unique()

array([444, 555, 666], dtype=int64)

#### number of unique values

In [10]:
len(df['col2'].unique()) #len approach

3

In [14]:
df['col2'].nunique()   #nunique approach

3

In [19]:
df['col2'].value_counts() #value count

444    2
555    1
666    1
Name: col2, dtype: int64

#### Boolean, And and Or

In [20]:
df[(df['col1']>2)]

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [21]:
df['col1']>2

0    False
1    False
2     True
3     True
Name: col1, dtype: bool

In [25]:
df[(df['col1']>2) & (df['col2']==444)] #and

   col1  col2 col3
3     4   444  xyz

In [24]:
df[(df['col1']>2) | (df['col2']==444)] #or

   col1  col2 col3
0     1   444  abc
2     3   666  ghi
3     4   444  xyz

### Apply method

In [26]:
def times2(x):
    return x*2

In [27]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [35]:
df['col2'].apply(lambda x: x*2) #lambda expression

0     888
1    1110
2    1332
3     888
Name: col2, dtype: int64

### Removing Columns

In [44]:
df.drop('col2',axis=1)   #del df['col2'] permanently removes column

   col1 col3
0     1  abc
1     2  def
2     3  ghi
3     4  xyz

In [45]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [46]:
df.columns

Index([u'col1', u'col2', u'col3'], dtype='object')

In [47]:
df.index

RangeIndex(start=0, stop=4, step=1)

### Sorting and Ordering DataFrame

In [38]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [39]:
df.sort_values('col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [40]:
df.sort_values(by='col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [50]:
df.isnull() #check for null

       A      B      C      D
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False  False  False
4  False  False  False  False
5  False  False  False  False

### Pivot table

In [48]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [49]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [53]:
df.pivot_table(values='D', index= ['A','B'], columns =['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN