In [13]:
import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
from plotly.offline import download_plotlyjs,init_notebook_mode,plot,iplot

In [18]:
init_notebook_mode(connected=True)
#see in jupyter notebook

## 1. data

In [19]:
data = dict(type='choropleth',
           locations = ['AZ','CA','NY'],
           locationmode = 'USA-states',
           colorscale='Jet', #grey, green
           text = ['Arizona','Califonia', 'New York'], #what hovers location
           z = [1.0,2.0,3.0], #values 
           colorbar ={'title':'Colorbar Title Goes Here'} #title
           )

In [21]:
data

{'colorbar': {'title': 'Colorbar Title Goes Here'},
 'colorscale': 'Jet',
 'locationmode': 'USA-states',
 'locations': ['AZ', 'CA', 'NY'],
 'text': ['Arizona', 'Califonia', 'New York'],
 'type': 'choropleth',
 'z': [1.0, 2.0, 3.0]}

## 2. layout

In [22]:
layout = dict(geo={'scope':'usa'})

In [23]:
choromap = go.Figure(data =[data],layout=layout)

In [24]:
iplot(choromap)

In [41]:
import pandas as pd
df = pd.read_csv('2011_US_AGRI_Exports')

In [42]:
df.head()

,code,state,category,total exports,beef,pork,poultry,dairy,fruits fresh,fruits proc,total fruits,veggies fresh,veggies proc,total veggies,corn,wheat,cotton,text
0,AL,Alabama,state,1390.63,34.4,10.6,481.0,4.06,8.0,17.1,25.11,5.5,8.9,14.33,34.9,70.0,317.61,Alabama<br>Beef 34.4 Dairy 4.06<br>Fruits 25.1...
1,AK,Alaska,state,13.31,0.2,0.1,0.0,0.19,0.0,0.0,0.00,0.6,1.0,1.56,0.0,0.0,0.00,Alaska<br>Beef 0.2 Dairy 0.19<br>Fruits 0.0 Ve...
2,AZ,Arizona,state,1463.17,71.3,17.9,0.0,105.48,19.3,41.0,60.27,147.5,239.4,386.91,7.3,48.7,423.95,Arizona<br>Beef 71.3 Dairy 105.48<br>Fruits 60...
3,AR,Arkansas,state,3586.02,53.2,29.4,562.9,3.53,2.2,4.7,6.88,4.4,7.1,11.45,69.5,114.5,665.44,Arkansas<br>Beef 53.2 Dairy 3.53<br>Fruits 6.8...
4,CA,California,state,16472.88,228.7,11.1,225.4,929.95,2791.8,5944.6,8736.40,803.2,1303.5,2106.79,34.6,249.3,1064.95,California<br>Beef 228.7 Dairy 929.95<br>Frui...

In [30]:
#data

In [62]:
data = dict(type='choropleth',
            colorscale = 'YIOrRd',
            locations = df['code'],
            z = df['total exports'],
            locationmode = 'USA-states',
            text= df['text'],
            marker = dict(line = dict(color = 'rgb(255,255,255)',width=4)), # 4 is the spacing btw map
            colorbar = {'title':'Million USD'}
           )

In [63]:
data

{'colorbar': {'title': 'Million USD'},
 'colorscale': 'YIOrRd',
 'locationmode': 'USA-states',
 'locations': 0     AL
 1     AK
 2     AZ
 3     AR
 4     CA
 5     CO
 6     CT
 7     DE
 8     FL
 9     GA
 10    HI
 11    ID
 12    IL
 13    IN
 14    IA
 15    KS
 16    KY
 17    LA
 18    ME
 19    MD
 20    MA
 21    MI
 22    MN
 23    MS
 24    MO
 25    MT
 26    NE
 27    NV
 28    NH
 29    NJ
 30    NM
 31    NY
 32    NC
 33    ND
 34    OH
 35    OK
 36    OR
 37    PA
 38    RI
 39    SC
 40    SD
 41    TN
 42    TX
 43    UT
 44    VT
 45    VA
 46    WA
 47    WV
 48    WI
 49    WY
 Name: code, dtype: object,
 'marker': {'line': {'color': 'rgb(255,255,255)', 'width': 4}},
 'text': 0     Alabama<br>Beef 34.4 Dairy 4.06<br>Fruits 25.1...
 1     Alaska<br>Beef 0.2 Dairy 0.19<br>Fruits 0.0 Ve...
 2     Arizona<br>Beef 71.3 Dairy 105.48<br>Fruits 60...
 3     Arkansas<br>Beef 53.2 Dairy 3.53<br>Fruits 6.8...
 4      California<br>Beef 228.7 Dairy 929.95<br>Frui...
 5     Colorado<br>Beef 261.4 Dairy 71.94<br>Fruits 1...
 6     Connecticut<br>Beef 1.1 Dairy 9.49<br>Fruits 1...
 7     Delaware<br>Beef 0.4 Dairy 2.3<br>Fruits 1.53 ...
 8     Florida<br>Beef 42.6 Dairy 66.31<br>Fruits 137...
 9     Georgia<br>Beef 31.0 Dairy 38.38<br>Fruits 233...
 10    Hawaii<br>Beef 4.0 Dairy 1.16<br>Fruits 55.51 ...
 11    Idaho<br>Beef 119.8 Dairy 294.6<br>Fruits 21.6...
 12    Illinois<br>Beef 53.7 Dairy 45.82<br>Fruits 12...
 13    Indiana<br>Beef 21.9 Dairy 89.7<br>Fruits 12.9...
 14    Iowa<br>Beef 289.8 Dairy 107.0<br>Fruits 3.24 ...
 15    Kansas<br>Beef 659.3 Dairy 65.45<br>Fruits 3.1...
 16    Kentucky<br>Beef 54.8 Dairy 28.27<br>Fruits 6....
 17    Louisiana<br>Beef 19.8 Dairy 6.02<br>Fruits 17...
 18    Maine<br>Beef 1.4 Dairy 16.18<br>Fruits 52.01 ...
 19    Maryland<br>Beef 5.6 Dairy 24.81<br>Fruits 12....
 20    Massachusetts<br>Beef 0.6 Dairy 5.81<br>Fruits...
 21    Michigan<br>Beef 37.7 Dairy 214.82<br>Fruits 2...
 22    Minnesota<br>Beef 112.3 Dairy 218.05<br>Fruits...
 23    Mississippi<br>Beef 12.8 Dairy 5.45<br>Fruits ...
 24    Missouri<br>Beef 137.2 Dairy 34.26<br>Fruits 1...
 25    Montana<br>Beef 105.0 Dairy 6.82<br>Fruits 3.3...
 26    Nebraska<br>Beef 762.2 Dairy 30.07<br>Fruits 2...
 27    Nevada<br>Beef 21.8 Dairy 16.57<br>Fruits 1.19...
 28    New Hampshire<br>Beef 0.6 Dairy 7.46<br>Fruits...
 29    New Jersey<br>Beef 0.8 Dairy 3.37<br>Fruits 10...
 30    New Mexico<br>Beef 117.2 Dairy 191.01<br>Fruit...
 31    New York<br>Beef 22.2 Dairy 331.8<br>Fruits 20...
 32    North Carolina<br>Beef 24.8 Dairy 24.9<br>Frui...
 33    North Dakota<br>Beef 78.5 Dairy 8.14<br>Fruits...
 34    Ohio<br>Beef 36.2 Dairy 134.57<br>Fruits 27.21...
 35    Oklahoma<br>Beef 337.6 Dairy 24.35<br>Fruits 9...
 36    Oregon<br>Beef 58.8 Dairy 63.66<br>Fruits 315....
 37    Pennsylvania<br>Beef 50.9 Dairy 280.87<br>Frui...
 38    Rhode Island<br>Beef 0.1 Dairy 0.52<br>Fruits ...
 39    South Carolina<br>Beef 15.2 Dairy 7.62<br>Frui...
 40    South Dakota<br>Beef 193.5 Dairy 46.77<br>Frui...
 41    Tennessee<br>Beef 51.1 Dairy 21.18<br>Fruits 6...
 42    Texas<br>Beef 961.0 Dairy 240.55<br>Fruits 99....
 43    Utah<br>Beef 27.9 Dairy 48.6<br>Fruits 12.34 V...
 44    Vermont<br>Beef 6.2 Dairy 65.98<br>Fruits 8.01...
 45    Virginia<br>Beef 39.5 Dairy 47.85<br>Fruits 36...
 46    Washington<br>Beef 59.2 Dairy 154.18<br>Fruits...
 47    West Virginia<br>Beef 12.0 Dairy 3.9<br>Fruits...
 48    Wisconsin<br>Beef 107.3 Dairy 633.6<br>Fruits ...
 49    Wyoming<br>Beef 75.1 Dairy 2.89<br>Fruits 0.17...
 Name: text, dtype: object,
 'type': 'choropleth',
 'z': 0      1390.63
 1        13.31
 2      1463.17
 3      3586.02
 4     16472.88
 5      1851.33
 6       259.62
 7       282.19
 8      3764.09
 9      2860.84
 10      401.84
 11     2078.89
 12     8709.48
 13     5050.23
 14    11273.76
 15     4589.01
 16     1889.15
 17     1914.23
 18      278.37
 19      692.75
 20      248.65
 21     3164.16
 22     7192.33
 23     2170.80
 24     3933.42
 25     1718.00
 26     7114.13
 27      139.89
 28       73.06
 29      500.40
 30      751.58
 31     1488.90
 32     3806.05
 33     3761.96
 34     3979.79
 35     1646.41
 36     1794.57
 37     1969.87
 38       31.59
 39      929.93
 40     3770.19
 41     1535.13
 42     6648.22
 43      453.39
 44      180.14
 45     1146.48
 46     3894.81
 47      138.89
 48     3090.23
 49      349.69
 Name: total exports, dtype: float64}

In [64]:
#layout

In [65]:
layout = dict(title = '2011 US Agriculture Exports by State',
             geo = dict(scope='usa',showlakes = True, lakecolor='rgb(85,173,240)'))

In [66]:
choromap2 = go.Figure(data =[data],layout=layout)

In [67]:
iplot(choromap2)

# World Choropleth Map

Now let's see an example with a World Map:

In [68]:
df = pd.read_csv('2014_World_GDP')

In [69]:
df.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [89]:
data = dict(type='choropleth',
            #colorscale = 'YIOrRd',
            locations = df['CODE'],
            z = df['GDP (BILLIONS)'],
            #locationmode = 'USA-states',
            text= df['COUNTRY'],
            marker = dict(line = dict(color = 'rgb(255,255,255)',width=2)), # 4 is the spacing btw map
            colorbar = {'title':'GDP in Billions USD'}
           )

In [90]:
data

{'colorbar': {'title': 'GDP in Billions USD'}, 'locations': 0      AFG
 1      ALB
 2      DZA
 3      ASM
 4      AND
 5      AGO
 6      AIA
 7      ATG
 8      ARG
 9      ARM
 10     ABW
 11     AUS
 12     AUT
 13     AZE
 14     BHM
 15     BHR
 16     BGD
 17     BRB
 18     BLR
 19     BEL
 20     BLZ
 21     BEN
 22     BMU
 23     BTN
 24     BOL
 25     BIH
 26     BWA
 27     BRA
 28     VGB
 29     BRN
       ...
 192    SWE
 193    CHE
 194    SYR
 195    TWN
 196    TJK
 197    TZA
 198    THA
 199    TLS
 200    TGO
 201    TON
 202    TTO
 203    TUN
 204    TUR
 205    TKM
 206    TUV
 207    UGA
 208    UKR
 209    ARE
 210    GBR
 211    USA
 212    URY
 213    UZB
 214    VUT
 215    VEN
 216    VNM
 217    VGB
 218    WBG
 219    YEM
 220    ZMB
 221    ZWE
 Name: CODE, dtype: object, 'marker': {'line': {'color': 'rgb(255,255,255)',
   'width': 2}}, 'text': 0                 Afghanistan
 1                     Albania
 2                     Algeria
 3              American Samoa
 4                     Andorra
 5                      Angola
 6                    Anguilla
 7         Antigua and Barbuda
 8                   Argentina
 9                     Armenia
 10                      Aruba
 11                  Australia
 12                    Austria
 13                 Azerbaijan
 14               Bahamas, The
 15                    Bahrain
 16                 Bangladesh
 17                   Barbados
 18                    Belarus
 19                    Belgium
 20                     Belize
 21                      Benin
 22                    Bermuda
 23                     Bhutan
 24                    Bolivia
 25     Bosnia and Herzegovina
 26                   Botswana
 27                     Brazil
 28     British Virgin Islands
 29                     Brunei
                 ...
 192                    Sweden
 193               Switzerland
 194                     Syria
 195                    Taiwan
 196                Tajikistan
 197                  Tanzania
 198                  Thailand
 199               Timor-Leste
 200                      Togo
 201                     Tonga
 202       Trinidad and Tobago
 203                   Tunisia
 204                    Turkey
 205              Turkmenistan
 206                    Tuvalu
 207                    Uganda
 208                   Ukraine
 209      United Arab Emirates
 210            United Kingdom
 211             United States
 212                   Uruguay
 213                Uzbekistan
 214                   Vanuatu
 215                 Venezuela
 216                   Vietnam
 217            Virgin Islands
 218                 West Bank
 219                     Yemen
 220                    Zambia
 221                  Zimbabwe
 Name: COUNTRY, dtype: object, 'type': 'choropleth', 'z': 0         21.71
 1         13.40
 2        227.80
 3          0.75
 4          4.80
 5        131.40
 6          0.18
 7          1.24
 8        536.20
 9         10.88
 10         2.52
 11      1483.00
 12       436.10
 13        77.91
 14         8.65
 15        34.05
 16       186.60
 17         4.28
 18        75.25
 19       527.80
 20         1.67
 21         9.24
 22         5.20
 23         2.09
 24        34.08
 25        19.55
 26        16.30
 27      2244.00
 28         1.10
 29        17.43
          ...
 192      559.10
 193      679.00
 194       64.70
 195      529.50
 196        9.16
 197       36.62
 198      373.80
 199        4.51
 200        4.84
 201        0.49
 202       29.63
 203       49.12
 204      813.30
 205       43.50
 206        0.04
 207       26.09
 208      134.90
 209      416.40
 210     2848.00
 211    17420.00
 212       55.60
 213       63.08
 214        0.82
 215      209.20
 216      187.80
 217        5.08
 218        6.64
 219       45.45
 220       25.61
 221       13.74
 Name: GDP (BILLIONS), dtype: float64}

In [100]:
layout = dict(title = '2014 World GDP',
             geo = dict(showframe = False,
                        projection = {'type':'hammer'} #kavrayskiy7 Mercator stereographic hammer
                        #scope='usa',showlakes = True, lakecolor='rgb(85,173,240)'
                       )
              )

In [101]:
choromap3 = go.Figure(data =[data],layout=layout)

In [102]:
iplot(choromap3)